@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

body{
    font-family: 'Lexend Deca';
    font-size: 100%;
}

form{
    width: 50%;
    margin-left: 25%;
}

#form-section form input{
    min-width: 100% !important;
}

