#profil-container-block {
    padding-top: 10px;
    width: 100%;
}

.profil-h2-brand {
    color: #fff;
}

.list-group-item {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

#profil-personnal-beats a {
    color: #fff;
    outline: none;
    background-color: transparent;
}

#profil-personnal-beats a:first-child {
    border: 1px solid #dee2e6;
}